
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4114cf82b1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/homepage.css">
    <title>Homepage</title>
</head>

<body>
    <div>
        <div>
            <a class="page" href="Default/Homepage">Homepage</a>
        </div>
        <div style="clear: both;"></div>

        <div class="navbar-2">


            <a href="/Default/Encokizlenen"> En Çok İzlenen Filmler</a>
            <a href="/Default/Yerlifilmler"> Yerli Filmler</a>
            <a href="/Default/Yabancıfilmler"> Yabancı filmler</a>
            <a href="/Default/İmdb"> İmbd En Yüksek Olan Filmler</a>

        </div>
        <div class="home">



            <div class="a">
                <a href="/Default/film2"><img src="~/Resimler/esaretinbedeli.jpg"><br> Esaretin Bedeli<br><br></a>
                <a href="/Default/film13"><img src="~/Resimler/candostum.jpg"><br>Can Dostum<br><br></a>

            </div>

            <div class="b">
                <a href="/Default/film3"><img src="~/Resimler/Hababam.jpg"><br> Hababam Sınıfı<br><br></a>
                <a href="/Default/film4"><img src="~/Resimler/Baba.jpg"><br> Baba<br><br></a>
            </div>

            <div class="c">
                <a href="/Default/film5"><img src="~/Resimler/Uyumsuz.jpg"><br> Uyumsuz<br><br></a>
                <a href="/Default/film8"><img src="~/Resimler/yıldızlararası.jpg"> <br> Interstellar<br><br></a>
            </div>

            <div class="d">
                <a href="/Default/film1"><img src="~/Resimler/venom.jpg"><br>Venom<br><br></a>
                <a href="/Default/film18"><img src="~/Resimler/sihirbazlarcetesi.jpg"><br>Sihirbazlar Çetesi<br><br></a>
            </div>

            <div class="e">
                <a href="/Default/film20"><img src="~/Resimler/yenilmez3.jpg"><br> Yenilmez 3<br><br></a>
                <a href="/Default/film9"><img src="~/Resimler/deadpool.jpg"><br> Deadpool<br><br></a>

            </div>


        </div>
</body>
</html>
