
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4114cf82b1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/film.css">
    <title>Battal Gazi Destanı</title>
</head>
<body>
    <a class="home" href="/Default/HomePage">Homepage</a>
    <div class="container">

        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/vWDddxPy7Pw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="right">
            <table>

                <p>Yabancı Filmler</p>
                <tr>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film2">Esaretin Bedeli</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film4">Baba</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film5">Uyumsuz</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film6">Intime</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film20">Yenilmez 3</a></td>
                </tr>
                <tr>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film9">Bıçak Sırtı</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film13">Can Dostum</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film7">Polaroid</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film8">Interstellar</a></td>
                </tr>
                <tr>

                    <td><i class="fas fa-angle-right"></i><a href="/Default/film15">Yarışçı Doğanlar</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film1">Buz Devri 2</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film16">Zamanın ötesinde</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film18">Sihirbazlar Çetesi</a></td>
                </tr>
            </table>
            <table>
                <p>Yerli Filmler</p>
                <tr>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film10">7. Koğuştaki Mucize</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film11">Müslüm</a></td>


                </tr>
                <tr>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film17">Maskeli Beşler : İntikam Peşinde</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film3">Hababam Sınıfı</a></td>
                </tr>
                <tr>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film12">Dağ</a></td>
                    <td><i class="fas fa-angle-right"></i><a href="/Default/film14">Siccin 6</a></td>
                </tr>
            </table>
        </div>
        <div class="messagebox">

            <img src="~/Resimler/default-user-image.png"><textarea name="text" id="" cols="100" rows="5" placeholder="Yorum yap"></textarea>

        </div>
    </div>

</body>
</html>