
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4114cf82b1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/homepage.css">
    <title>Homepage</title>
</head>

<body>
    <div>

        <div>
            <a class="page" href="/Default/HomePage">Homepage</a>
        </div>
        <div style="clear: both;"></div>

        <div class="navbar-2">



            <a href="/Default/Yerlifilmler"> Yerli Filmler</a>
            <a href="/Default/Yabancıfilmler"> Yabancı filmler</a>
            <a href="/Default/İmdb"> İmbd En Yüksek Olan Filmler</a>

        </div>
        <div class="yerli home">


            <a href="/Default/film11"><img src="~/Resimler/müslüm.jpg"><br>Müslüm</a>
            <a href="/Default/film17"><img src="~/Resimler/maskelibes.jpg"><br> Maskeli Beşler</a>

            <a href="/Default/film3"><img src="~/Resimler/Hababam.jpg"><br> Hababam Sınıfı</a>
            <a href="/Default/film9"><img src="~/Resimler/battalgazi.jpg"> <br>Battal Gazi Destanı</a>

            <a href="/Default/film12"><img src="~/Resimler/dağ.jpg"><br> Dağ</a>


            <a href="/Default/film14"><img src="~/Resimler/siccin6.jpg"> <br>Siccin 6</a>

            <a href="/Default/film10"><img src="~/Resimler/7.koğuş.jpg"><br> Yedinci Koğuştaki Mucize</a>



        </div>
</body>
</html>
